@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --color-neutral-0: #ffffff;
    --color-neutral-5: #f5f5f5;
    --color-neutral-10: #dbdbdb;
    --color-neutral-20: #c2c2c2;
    --color-neutral-30: #a8a8a8;
    --color-neutral-40: #8f8f8f;
    --color-neutral-50: #757575;
    --color-neutral-60: #5c5c5c;
    --color-neutral-70: #424242;
    --color-neutral-80: #282828;
    --color-neutral-85: #1c1c1c;
    --color-neutral-90: #0f0f0f;
    --color-neutral-100: #000000;

    --color-yellow-5: #fff9e5;
    --color-yellow-10: #fff2cc;
    --color-yellow-20: #ffe599;
    --color-yellow-30: #ffd966;
    --color-yellow-40: #ffcc33;
    --color-yellow-50: #ffbf00;
    --color-yellow-60: #cc9900;
    --color-yellow-70: #997300;
    --color-yellow-80: #664c00;
    --color-yellow-90: #332600;

    --color-blue-5: #dde5fd;
    --color-blue-10: #acc0fb;
    --color-blue-20: #7c9bf9;
    --color-blue-30: #4b76f6;
    --color-blue-40: #1a51f4;
    --color-blue-50: #0a3cd1;
    --color-blue-60: #082ea1;
    --color-blue-70: #052070;
    --color-blue-80: #03123f;
    --color-blue-90: #01040f;

    --color-vioelt-5: #eae3fc;
    --color-vioelt-10: #c7b5f8;
    --color-vioelt-20: #a386f3;
    --color-vioelt-30: #8058ee;
    --color-vioelt-40: #5e2bea;
    --color-vioelt-50: #4514cc;
    --color-vioelt-60: #36109e;
    --color-vioelt-70: #260b6f;
    --color-vioelt-80: #160641;
    --color-vioelt-90: #060213;

    --color-green-5: #cdfef1;
    --color-green-10: #9bfde3;
    --color-green-20: #69fcd5;
    --color-green-30: #37fbc7;
    --color-green-40: #05fab8;
    --color-green-50: #04ca95;
    --color-green-60: #03966f;
    --color-green-70: #02644a;
    --color-green-80: #013225;
    --color-green-90: #001912;

    --color-red-5: #fff5f6;
    --color-red-10: #fedde0;
    --color-red-20: #fcacb5;
    --color-red-30: #fa7a89;
    --color-red-40: #f84b5f;
    --color-red-50: #f61832;
    --color-red-60: #d30820;
    --color-red-70: #a20618;
    --color-red-80: #710411;
    --color-red-90: #40020a;
    --radius: 0.5rem;
  }
}
